---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---



<b>At Durham University</b>

<ul>
    <li>Financial Economics (2nd year course), 2020 − 2021 &amp; 2021 − 2022</li>
    <li>Introduction to Financial Econometrics (2nd year course), 2020 − 2021</li>
    <li>Quantitative Methods (1st year course), 2021 − 2022</li>
    <li>Economic Methods (1st year course), 2022 − 2023</li>
    <li>Behavioural and Experimental Economics (2nd year course), 2022 − 2023</li>
    <li>Mastering Computation and Data (1st year course), 2023-24</li>
    <li>Econometrics (2nd year course), 2023-24</li>
    <li>The World Economy (1st year course), 2023-24</li>
    <li>Development Economics (3rd year course), 2023-24</li>

</ul>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
